/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  --pi: 3.14159265359;

  /* Global colors */
  --global-color-back: #f0f2f0;
  --global-color-front: #9ca692;
  --global-color-front-dark: #1c2606;
  --global-color-accent: #6c735d;
  --global-color-available: #96cb61;
  --global-color-unavailable: #d26200;

  /* global page settings */
  --global-html-color: var(--global-color-front-dark);
  --global-html-backgroundColor: var(--global-color-back);
  --global-selection-backgroundColor: var(--global-color-front);
  --global-borderWith: 0.0625em;
  --global-borderRadius: 0.3125em;
}

/*------------------------------------*\
  #GENERIC
  \*------------------------------------*/

/*
      Generic: Page
      ---
      Global page styles + universal box-sizing:
  */

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: var(--global-html-backgroundColor);
  color: var(--global-html-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
}

/*
  * Remove text-shadow in selection highlight:
  * https://twitter.com/miketaylr/status/12228805301
  *
  * Customize the background color to match your design.
  */

::selection {
  background: var(--global-selection-backgroundColor);
  color: white;
  text-shadow: none;
}

/*------------------------------------*\
  #Elements
  \*------------------------------------*/
/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: RoyalBlue;
  transition: all 0.1s ease-in-out;
}

a:visited,
a:active {
  color: BlueViolet;
}

a:hover,
a:focus {
  color: Crimson;
}
/*------------------------------------*\
  #OBJECTS
  \*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 24px 24px 0;
  display: flow-root;
}

.o-row--dark {
  background-color: #20223a;
  color: #ffffff;
}

/* size modifiers */

.o-row--lg {
  padding-top: 48px;
  padding-bottom: 24px;
}

.o-row--xl {
  padding-top: 72px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .o-row {
    padding-left: 48px;
    padding-right: 48px;
  }

  .o-row--md {
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .o-row--lg {
    padding-top: 72px;
    padding-bottom: 48px;
  }
}

@media (min-width: 992px) {
  .o-row--xl {
    padding-top: 96px;
    padding-bottom: 72px;
  }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 90em; /*90 * 16px = 1440px */
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
  display: flow-root;
}

.o-section + .o-section {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .o-section--lg + .o-section--lg,
  .o-section--xl + .o-section--xl {
    margin-top: 48px;
  }
}

@media (min-width: 1200px) {
  .o-section--xl + .o-section--xl {
    margin-top: 72px;
  }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  flex-basis: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

.o-layout--gutter-xl {
  margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
  padding: 0 48px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is more than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
      Objects: List
      ---
      Small reusable object to remove default list styling from lists
  */

.o-list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
      Object: Button reset
      ---
      Small button reset object
  */

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
      Object: Hide accessible
      ---
      Accessibly hide any element
  */

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
  #COMPONENTS
  \*------------------------------------*/

/*
      Object: Boder bottom
      ---
      Add a bottom border 
  */

  .c-border-bottom{
    border-bottom: 0.125em solid var(--global-color-accent);
  }

  /*
      Object: Hide margin bottom
      ---
      Romove bottom margin
  */
  .c-hide-margin-bottom{
    margin-bottom: 0;
  }

/*
    Component: Header
    ---
    Website header
*/

.c-header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 8em;
  margin-bottom: 2em;
}

@media (max-width: 600px) {
  .c-header{
    flex-wrap: wrap;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 430px) {
  .c-header{
    justify-content: center;
  }
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  padding-left: 4rem;
}

@media (max-width: 600px) {
  .c-logo{
    padding-left: 0;
  }
}
/*
    Component: Toggle button
    ---
    Toggle button in header
*/

.c-togglebtn {
  display: flex;
  padding-right: 4rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .c-togglebtn{
    padding-right: 0;
  }
}

.c-togglebtn__item {
  text-decoration: none;
  display: block;
  padding: 0.5em 1.5em;
  border: var(--global-borderWith) solid var(--global-color-front);
  transition: background-color 0.1s ease-in;
}

.c-togglebtn__item:hover{
    opacity: 0.8;
}

.c-togglebtn__selected{
    background-color: var(--global-color-front);
    color: var(--global-color-back);
}



.c-togglebtn__radius-left {
  border-radius: var(--global-borderRadius) 0 0 var(--global-borderRadius);
}
.c-togglebtn__radius-right {
  border-radius: 0 var(--global-borderRadius) var(--global-borderRadius) 0;
}

/*
    Component: Map
    ---
    Map components mapview
*/

.c-map {
	height: 80vh;
  border: var(--global-borderWith) solid var(--global-color-front);
	border-radius: var(--global-borderRadius);
}

.c-marker__name{
  font-size: 0.75em;
  color: var(--global-color-front-dark);
}

/*
    Component: Card
    ---
    Contend cards listview
*/

.c-cards{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

@media (max-width: 600px) {
  .c-cards{
    justify-content: center;
  }
}

.c-card{
    border: var(--global-borderWith) solid var(--global-color-accent);
    border-radius: var(--global-borderRadius);
    margin-top: 2em;
    width: 23em;
    align-self: stretch;
    padding: 1.875em 0.5em;
}

@media (max-width: 600px) {
  .c-card{
    width: 95%;
  }
}

.c-card__content{
    display: flex;
    justify-content: space-between;
}

.c-card__content-title{
  font-size: 1.25em;
  font-weight: bold;
}

.c-card__content-availabiltiy{
  display: flex;
  align-items: center;
}

.c-card__content-status{
  margin-left: 0.5em;
}

.c-status-available{
  fill: var(--global-color-available);
}

.c-status-unavailable{
  fill: var(--global-color-unavailable);
}

.c-card__content-connection{
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 0 0;
}
/*
    Component: Loading circle
    ---
    Loading circle
*/

.c-loader-body{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-loader {
  border: 0.3125em solid var(--global-color-front);
  border-top: 0.3125em solid var(--global-color-accent);
  border-radius: 50%;
  width: 3.125em;
  height: 3.125em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*------------------------------------*\
  #UTILITIES
  \*------------------------------------*/
/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 18em !important;
}

.u-max-width-sm {
  max-width: 39em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 63.5em !important;
}

.u-max-width-none {
  max-width: none !important;
}

/*
    Utility: Flex
    ---
    Utility classes to put specific flex properties onto elements
    Will be mostly used on o-layout__item
*/

.u-flex-basis-auto {
  flex-basis: auto !important;
}

.u-flex-grow-1 {
  flex-grow: 1 !important;
}

.u-1-of-2 {
  flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
  flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
  flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
  flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
  flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
  flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
  flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
  flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
  flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
  flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
  flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
  .u-1-of-2-bp1 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp1 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp1 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp1 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp1 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp1 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp1 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp1 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp1 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp1 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp1 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 768px) {
  .u-1-of-2-bp2 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp2 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp2 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp2 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp2 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp2 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp2 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp2 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp2 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp2 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp2 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 992px) {
  .u-1-of-2-bp3 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp3 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp3 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp3 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp3 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp3 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp3 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp3 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp3 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp3 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp3 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

@media (min-width: 1200px) {
  .u-1-of-2-bp4 {
    flex-basis: calc(100% / 2) !important;
  }
  .u-1-of-3-bp4 {
    flex-basis: calc(100% / 3) !important;
  }
  .u-2-of-3-bp4 {
    flex-basis: calc(100% / 3 * 2) !important;
  }
  .u-1-of-4-bp4 {
    flex-basis: calc(100% / 4) !important;
  }
  .u-3-of-4-bp4 {
    flex-basis: calc(100% / 4 * 3) !important;
  }
  .u-1-of-5-bp4 {
    flex-basis: calc(100% / 5) !important;
  }
  .u-2-of-5-bp4 {
    flex-basis: calc(100% / 5 * 2) !important;
  }
  .u-3-of-5-bp4 {
    flex-basis: calc(100% / 5 * 3) !important;
  }
  .u-4-of-5-bp4 {
    flex-basis: calc(100% / 5 * 4) !important;
  }
  .u-1-of-6-bp4 {
    flex-basis: calc(100% / 6) !important;
  }
  .u-5-of-6-bp4 {
    flex-basis: calc(100% / 6 * 5) !important;
  }
}

/*------------------------------------*\
  #MEDIA
  \*------------------------------------*/

/*
      Print styles.
      ---
      Inlined to avoid the additional HTTP request:
      http://www.phpied.com/delay-loading-your-print-css/
  */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
          http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
      * Don't show links that are fragment identifiers,
      * or use the `javascript:` pseudo protocol
      */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
      * Printing Tables:
      * http://css-discuss.incutio.com/wiki/Printing_Tables
      */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
